body {
    font-family: Arial,sans-serif;
    background-color: #f0f3f7;
    color: #333;
    margin: 0;
}
header {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 15px;
    text-align: center;
}
header h1 {
    margin: 0;
    font-size: 2.5em;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
}
nav ul li {
    display: inline-block;
    margin: 0 15px;
}
nav ul li a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 1.2em;
}
nav ul li a:hover{
    color: aqua;
}
main {
    padding: 20px;
    text-align: justify;
}
main h2 {
    color: #34495e;
    font-size: 2em;
    margin-top: 0;
}
main p {
    font-size: 1.2em;
}
footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    padding: 4px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: white;
}
th,td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #333;
    color: white;
}
tr:hover {
    background-color: #f1f1f1;
}
.video-container{
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}
.video-container video {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid #00aaff;
}